body:not(.no-js) #customer_login .col-1,
body:not(.no-js) #customer_login .col-2 {
  display: none;
  float: none;
  width: 100%;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

body:not(.no-js) #customer_login .col-1.active,
body:not(.no-js) #customer_login .col-2.active {
  display: block;
}

body.wc-better-login h1,
body.no-js #login-link,
body.no-js #register-link {
  display: none;
}

#login-link,
#register-link {
  font-weight: bold;
}
